{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'tasks/style.css' %}">
	<title>Document</title>
</head>
<body>
<div class="loginFieldWrapper">
<div class="loginField">
	<form method="POST" action="{% url 'login' %}" >
		 {% csrf_token %}
	<label>Username</label>
	<input type="text" name="username">
	<label>Password</label>
	<input type="password" name="password">
	<div class="loginSubmitButton">
		<button type="submit" id="userLogin">Login</button>
	</div>
	</form>
</div>
</div>
	
</body>
</html>
