{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'tasks/style.css' %}">
	<title>Document</title>
</head>
<body>

<section>
		<div>
			<div class="stat-card">
  			  <p class="stat-number">{{ remaining }}</p>
  			  <p class="ring-label">Remaining</p>
		</div>
			
			<div class="ring-card">
				<svg viewBox="0 0 100 100">
					<circle class="ring-bg" cx="50" cy="50" r="40"/>
					<circle class="ring-fill" cx="50" cy="50" r="40" style="stroke-dashoffset: {{ completed_offset }}"/>
				</svg>
				<p class="ring-label">Completed This Week</p>
				<p class="ring-number"> {{ completed_this_week }}</p>
			</div>
			
			<div class="ring-card">
				<svg viewBox="0 0 100 100">
					<circle class="ring-bg" cx="50" cy="50" r="40"/>
					<circle class="ring-fill" cx="50" cy="50" r="40" style="stroke-dashoffset: {{ overdue_offset }}"/>
				</svg>
					<p class="ring-label">Overdue</p>
					<p class="ring-number">{{ overdue }}</p>			
			</div>
		</div>
</section>

<section>

	<div>
		<form class="task-form" method="POST" action="/tasks/create/">
			{% csrf_token %}
			<div>
			<label>Task Title</label>
			<input type="text" name="title">
			</div>
			<div>
			<label>Task Description</label>
			<input type="text" name="body">
			</div>
			<div>
			<label>Due Date</label>
			<input type="date" name="due_date">
			</div>
			<div>
			<label>Priority</label>
			<select name="priority" id="priority">
				<option value="high">High</option>
				<option value="medium">Medium</option>
				<option value="low">Low</option>
			</select>
			</div>
			<div>
			<input type="submit" class="form-button">
			</div>
		</form>
	</div>

</section>


<section>
	<div class="task-grid">
		{% for each_task in all_tasks %}
			<div class="task-card {% if each_task.completed %}completed{% endif %}">
				<div class="card-top">
					<h4 class="task-title"> {{ each_task.title }}</h4>
					<p> {{ each_task.body }}</p>
				</div>
				<div class="card-meta">
					<p>{% if each_task.due_date %}
							{{ each_task.due_date }}
						{% else %}
							No due date
						{% endif %}
					</p>
					<P>{{ each_task.priority }}</P>
				</div>
				<div class="card-actions">
					<form method="POST" action="/tasks/complete/{{ each_task.id }}/">
						{% csrf_token %}
						<button type="submit">Mark as Complete</button>
					</form>
					<form method="POST" action="/tasks/delete/{{ each_task.id }}/">
						{% csrf_token %}
						<button type="submit">Delete Task?</button>
					</form>
				</div>
			</div>
		{% endfor %}
	</div>
</section>
</body>
</html>