{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'tasks/style.css' %}">
	<title>Document</title>
</head>
<body>
	
	<nav>
	<ul>
		<li><a href="{% url 'task_list' %}">Home</a></li>
		<li><a href="{% url 'task_all' %}">All Tasks</a></li>
		<li><a href="{% url 'task_allCompleted' %}">Completed Tasks</a></li>
		<li><a href="{% url 'task_filter' %}?category=gym">Gym</a></li>
		<li><a href="{% url 'task_filter' %}?category=work">Work</a></li>
		<li><a href="{% url 'task_filter' %}?category=dog">Jasper</a></li>
		<li><a href="{% url 'task_filter' %}?category=housework">Housework</a></li>
		<li><a href="{% url 'task_filter' %}?category=shopping">Shopping</a></li>
		<li><a href="{% url 'task_filter' %}?category=miscellaneous">Miscellaneous</a></li>
		<li><a hx-get="{% url 'task_filter' %}?category=all" hx-target="#todo-grid" hx-swap="innerHTML">All</a></li>
		<form method="POST" action="{% url 'logout' %}">
			{% csrf_token %}
			<button type="submit" class="logoutButton">Logout</button>
		</form>

	</ul>
</nav>
<button id="hamburger">☰</button>
<header>
	<h1 class="headerTitle">Welcome Back {{ request.user.username }} </h1>
	<form method="GET" action="{% url 'userSearch' %}">
		 {% csrf_token %}
	<input type="text" name="q" placeholder="Search Tasks..">
	</form>
</header>

<main>
		{% for message in messages %}
		<div class="flashwrapper">
		<p class="flash-message"> {{ message }}</p>
		</div>
	{% endfor %}

<h2 class="allTasksHeader">Completed Tasks</h2>
<div class="task-list">
	{% for each_task in completed_tasks %}
	<div class="task-row">

		<div class="row-left">
			<span class="task-icon">
				{% if each_task.category == "gym" %}🏋️
				{% elif each_task.category == "dog" %}🐶
				{% elif each_task.category == "work" %}💼
				{% elif each_task.category == "shopping" %}🛒
				{% elif each_task.category == "housework" %}🏠
				{% else %} 📝
				{% endif %}
			</span>
		<p class="allTaskTitle">{{ each_task.title }}</p>
		<p class="allTaskBody">{{ each_task.body }}</p>
		</div>
		
		<div class="row-middle">
			<p class="task-status {% if each_task.status == 'notStarted' %}status-notStarted{% elif each_task.status == 'inProgress' %}status-inProgress {% elif each_task.status == 'completed' %}status-completed {% endif %}"> {{ each_task.get_status_display }}</p> 
			<p class="task-priority {% if each_task.priority == 'low' %}priority-low{% elif each_task.priority == 'medium' %} priority-medium {% elif each_task.priority == 'high' %}priority-high{% endif %}"> {{ each_task.get_priority_display  }} </p>
		</div>
		<div class="row-right">
			<p class="task-due">{{ each_task.due_date }}</p>
				<div class="card-actions">
					<form method="POST" action="{% url 'task_delete' each_task.id %}">
					{% csrf_token %}
					<input type="hidden" name="next" value="/tasks/completed/">
					<button type="submit" class="deleteButton">Delete</button>
					</form>
					<button class="editButton" data-title="{{ each_task.title }}" data-body="{{ each_task.body }}" data-priority="{{ each_task.priority }}" data-duedate="{{ each_task.due_date|date:'Y-m-d' }}" data-category="{{ each_task.category }}" data-status="{{ each_task.status }}" data-id="{{ each_task.id }}"
					>Edit Task</button>
				</div>
		</div>
	</div>
	{% endfor %}
</div>

</main>
<div id="taskModal" class="modal hidden">
	<div class="modal-content">
		<button id="closeModal">✕</button>
		<form method="POST" action="{% url 'task_create' %}" id="taskForm">
			 {% csrf_token %}
			 <div class="formInput">
				<label>Title</label>
				 <input type="text" name="title">
			</div>
			 <div class="formInput">
				<label>Task</label>
				 <input type="text" name="body">
			</div>
			<div class="formInput">
				<label>Priority</label>
				 <select name="priority">
					<option value="high">High</option>
					<option value="medium">Medium</option>
					<option value="low">Low</option>
				 </select>
			</div>
			<div class="formInput">
				<label>Date Due</label>
				 <input type="date" name="due_date">
			</div>
			<div class="formInput">
				<label>Category</label>
				 <select name="category">
					<option value="work">Work</option>
					<option value="dog">Dog</option>
					<option value="gym">Gym</option>
					<option value="housework">Housework</option>
					<option value="shopping">Shopping</option>
					<option value="miscellaneous">Miscellaneous</option>
				 </select>
			</div>
			<div class="formInput">
				<label>Status</label>
				<select name="status">
					<option value="notStarted">Not Started</option>
					<option value="inProgress">In Progress</option>
				</select>
			</div>
			<div class="submitModal">
				<button type="submit" id="submitModalButton">Create Task</button>
			</div>
		</form>
	</div>
</div>

<script>
		document.getElementById("hamburger").addEventListener("click", function() {
		const nav = document.querySelector("nav");
		const isOpen = nav.classList.contains("nav-open");
		if (isOpen) {
			nav.classList.remove("nav-open");
		} else {
			nav.classList.add("nav-open");
		}
	});
	document.querySelectorAll("nav a").forEach(function(link){
		link.addEventListener("click", function(){
			document.querySelector("nav").classList.remove("nav-open");
		});
	});


	document.getElementById("closeModal").addEventListener("click", function(){
		document.getElementById("taskModal").classList.add("hidden");
		document.getElementById("taskForm").action = "/tasks/create/"
		document.getElementById("submitModalButton").textContent = "Create Task"
	})

	document.addEventListener("keydown", function(e){
		if (e.key === "Escape") {
			document.getElementById("taskModal").classList.add("hidden");
			document.getElementById("taskForm").action = "/tasks/create/"
			document.getElementById("submitModalButton").textContent = "Create Task"
		}
	});

	document.getElementById("taskModal").addEventListener("click", function(e){
		if (e.target === this){
			this.classList.add("hidden");
			document.getElementById("taskForm").action = "/tasks/create/"
			document.getElementById("submitModalButton").textContent = "Create Task"
		}
	})

	document.querySelectorAll(".editButton").forEach(function(button){
		button.addEventListener("click", function(){
			document.querySelector('[name="title"]').value = button.dataset.title
			document.querySelector('[name="body"]').value = button.dataset.body
			document.querySelector('[name="priority"]').value = button.dataset.priority
			document.querySelector('[name="due_date"]').value = button.dataset.duedate
			document.querySelector('[name="status"]').value = button.dataset.status
			document.querySelector('[name="category"]').value = button.dataset.category
			
			document.getElementById("taskForm").action = "/tasks/edit/" + button.dataset.id + "/"
			document.getElementById("taskModal").classList.remove("hidden")
			document.getElementById("submitModalButton").textContent = "Edit Task"
		})
	})

		setTimeout(function(){
		document.querySelectorAll(".flash-message").forEach(function(msg){
			msg.style.transition = "opacity 1s";
			msg.style.opacity = "0";
			setTimeout(function() { msg.remove(); }, 1000);
		});
	}, 3000);

	document.querySelector('[name="due_date"]').min = new Date().toISOString().split('T')[0];
</script>
</body>
</html>