@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Outfit', sans-serif;
	background-color: #ede7f6;
	min-height: 100vh;
}
nav{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	background-color:  #9b72cf;
	width: 220px;
}
main,header{
	margin-left: 220px;
}
nav ul{
	list-style: none;
	padding: 20px;
}
nav ul li a {
	display: block;
	padding: 10px;
	color: white;
	text-decoration: none;
}

nav ul li a:hover{
	background-color: rgba(255,255,255,0.15);
	border-radius: 8px;
}
header{
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 15px;
}
header input{
	padding: 10px 16px;
	border-radius: 25px;
	border: none;
	background: #b797f8;
	width: 300px;
	font-family: 'Outfit', sans-serif;
}
main{
	padding: 20px;
}


/*  MODAL */

#openModal{
	background: #9e64f6;
	color: #ffffff;
	border: none;
	border-radius: 25px;
	padding: 6px 14px;
	font-family: 'Outfit', sans-serif;
	font-size: 14px;
	cursor: pointer;
	transition: background 0.2s, transform 0.2s;
}
#openModal:hover{
	background: rgb(153, 19, 171);
	transform: scale(1.05);
}
.hidden {
	display: none !important;
}
.modal{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1000;
}
.modal-content {
	position: relative;
	background: #f8f4ff;
	border-radius: 20px;
	padding: 32px;
	width: 400px;
}
.modal-content form{
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.modal-content input, modal-content select{
	padding: 10px 14px;
	border-radius: 25px;
	border: 1px solid #9b72cf;
	background: #ede7f6;
	font-family: 'Outfit', sans-serif;
	width: 100%;
}
.modal-content select {
    appearance: none;
	background-color: #ede7f6;
	padding: 8px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpath fill='%239b72cf' d='M6 8L1 3h10z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 12px center;
	padding-right: 36px;
	font-family: 'Outfit', sans-serif;
	border-radius: 25px;
	border: 1px solid #9b72cf;
}
#submitModalButton{
	background: #9e64f6;
	color: #f8f4ff;
	display: block;
	margin: 0 auto;
	padding: 8px;
	border: none;
	cursor: pointer;
	font-family: 'Outfit', sans-serif;
	border-radius: 25px;
	transition: background 0.2s, transform 0.2s;
}
#submitModalButton:hover{
	background: rgb(153, 19, 171);
	transform: scale(1.1);
}
#closeModal{
	background: #9e64f6;
	color: #f8f4ff;
	border-radius: 50%;
	width: 28px;
	height: 28px;
	position: absolute;
	top: 12px;
	right: 12px;
	transition: background 0.2s, transform 0.2s;
	border: 2px solid black;
}
#closeModal:hover{
	background: rgb(153, 19, 171);
	transform: scale(1.1);
}

/* **************************************  */



/* Task cards */
.dashboard-card{
	background: #f8f4ff;
	border-radius: 20px;
	box-shadow: 0 8px 24px rgba(0,0,0,0.1);
	display: flex;
	padding: 24px;
	gap: 0px;
}

.task-card{
	background: #f8f4ff;
	border-radius: 16px;
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 8px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
	margin-bottom: 12px;
	transition: transform 0.2s, box-shadow 0.2s;
}
.task-card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 16px rgba(0,0,0,0.12);
}
.task-icon{
	font-size: 18px;
	background: #ede7f6;
	padding: 6px 10px;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.task-title{
	font-weight: bold;
	text-align: center;
	font-size: 20px;
	color: #000000;
}
.task-body{
	font-weight: 300;
	text-align: center;
	font-size: 14px;
	color: #888;
}
.task-due{
	text-align: center;
}
.task-status{
	background: #5a5757;
	color: #ffffff;
	font-size: 12px;
	border-radius: 25px;
	padding: 10px;
	display: inline-block;
	width: fit-content;
}
.task-priority{
	background: #5a5757;
	color: #ffffff;
	font-size: 12px;
	border-radius: 25px;
	padding: 10px;
	display: inline-block;
	width: fit-content;
}
.card-top{
	display: flex;
	justify-content: space-between;
}
.card-badges{
	display: flex;
	flex-direction: row;
	gap: 10px;
}
.card-actions{
	display: flex;
	flex-direction: row;
	margin-top: auto;
	justify-content: center;
	gap: 14px;
}
.statusButton{
	border-radius: 25px;
	background: #9e64f6;
	color: #ffffff;
	padding: 6px 14px;
	font-family: 'Outfit', sans-serif;
	border: none;
	transition: background 0.2s, transform 0.2s;
	cursor: pointer;
}

.statusButton:hover{
	background: rgb(153, 19, 171);
	transform: scale(1.1);
}

.deleteButton{
	border-radius: 25px;
	background: #e55c8c;
	color: #ffffff;
	padding: 6px 14px;
	font-family: 'Outfit', sans-serif;
	border: none;
	transition: background 0.2s, transform 0.2s;
	cursor: pointer;
}
.deleteButton:hover{
	background-color: #e40e59;
	transform: scale(1.1);
}
/* ----- RING SECTION */
.ring-bg {
    fill: none;
    stroke: #e8deff;
    stroke-width: 10;
}

.ring-fill {
    fill: none;
    stroke: #9b72cf;
    stroke-width: 10;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    stroke-dasharray: 251;
}
.rings-section svg{
	width: 80px;
	height: 80px;
}
.rings-section-wrapper {
	padding: 24px;
	border-bottom: 1px solid #e0d4f7;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.rings-section{
	display: flex;
	flex-direction: row;
	gap: 26px;
	justify-content: center;
	align-items: center;
}
.completed-ring, .inProgress-ring, .notStarted-ring{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}
/* Completed Section    */
.completed-card{
	background: #ede7f6;
	border-radius: 12px;
	padding: 10px 14px;
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-size: 13px;
	transition: background 0.2s, transform 0.2s;
	cursor: pointer;
}

.completed-card:hover{
	background: #c2a4f0;
	transform: scale(1.1);
}
.completed-title{
	font-weight: 600;
	color: #9b72cf;
}
.completed-body{
	color: #6e6d6d;
	font-size: 12px;
}
.completed-section{
	display: flex;
	flex-direction: column;
	gap: 8px;
	padding: 24px;
	flex: 1;
	overflow-y: auto;
}
.completed-grid{
	display: grid;
	grid-template-columns: repeat(2,1fr);
	gap: 8px;
}
.right-panel{
	display: flex;
	flex-direction: column;
	gap: 0;
	flex: 1;
	align-self: stretch;
}

.todo-section{
	flex: 2;
	padding-right: 24px;
	border-right: 1px solid #e0d4f7;
	display: flex;
	flex-direction: column;
}
.todo-grid{
	display: grid;	
	grid-template-columns: repeat(2,1fr);
	gap: 12px;
	margin-top: 16px;
}
.view-more{
	display: flex;
	justify-content: center;
	margin-top: auto;
	padding-top: 12px;
}
.view-more a{
	color: #9b72cf;
	text-decoration: none;
	font-size: 13px;
	opacity: 0.7s;
	transition: opacity 0.2s;
}
.view-more a:hover{
	opacity: 1;
	color: #6d19dc;
}